<div class="text-center">
    <h1 class="mb-3 pt-2">{{title}}</h1>
    
    <p class="m-5 p-1">
        Hello, <strong>{{userFullName}}</strong>
    </p>

    <a href="/logout" class="btn btn-dark">Logout</a>
</div>