<h1 class="text-center m-4 p-2">{{title}}</h1>

<hr class="mb-4">

<div class="text-center">
    <button type="button" class="btn btn-primary">
        Template: <span class="badge badge-light">Handlebars</span>
    </button>
</div>